/*
Name: 			Debbie Macrohon
Description: 	Custom CSS file for University of Calgary
				dummy website.


*/
*{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
ul li:nth-child(1) {
    padding-left: 0px;
}

header {
	text-align: center;
	padding-top: 50px;
}
nav{
	background-color: black;
	width: 100%;
	height:5%;
}
.nav-bar {
	list-style:none;
	text-align: center;
}
ul{
		padding-top:10px;
	padding-bottom: 10px;
}
ul li{
	display:inline;
	padding-left: 40px;
	text-transform: uppercase;

	
	
}
ul li a{
	color:white;
	text-decoration: none;
	
}
#home-img{
	text-align: center;
}
	
